.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.icon {
  border-radius: 50%;
  background-color: #f76707;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .4rem;
}

.brand {
}
