.advantage-card {
  position: relative;
  border-radius: 1.2rem;
  overflow: hidden;
  width: 28rem;
  height: 32rem;

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.label {
  position: absolute;
  bottom: 12%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
